@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 58 86% 91%; /* #FDFBD4 */
    --foreground: 56 26% 20%;
    --card: 58 86% 91%;
    --card-foreground: 56 26% 20%;
    --popover: 58 86% 91%;
    --popover-foreground: 56 26% 20%;
    --primary: 56 26% 55%; /* #BDB96A */
    --primary-foreground: 58 86% 10%;
    --secondary: 58 30% 85%;
    --secondary-foreground: 56 26% 20%;
    --muted: 58 30% 85%;
    --muted-foreground: 56 26% 35%;
    --accent: 56 26% 65%;
    --accent-foreground: 58 86% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 58 30% 80%;
    --input: 58 30% 80%;
    --ring: 56 26% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 56 26% 10%;
    --foreground: 58 86% 91%;
    --card: 56 26% 10%;
    --card-foreground: 58 86% 91%;
    --popover: 56 26% 10%;
    --popover-foreground: 58 86% 91%;
    --primary: 56 26% 55%;
    --primary-foreground: 58 86% 10%;
    --secondary: 56 26% 15%;
    --secondary-foreground: 58 86% 91%;
    --muted: 56 26% 15%;
    --muted-foreground: 58 86% 80%;
    --accent: 56 26% 45%;
    --accent-foreground: 58 86% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 56 26% 20%;
    --input: 56 26% 20%;
    --ring: 56 26% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
